<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.4">
  <display-name>mware</display-name>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
            /WEB-INF/config/applicationContext-jdbc.xml
            /WEB-INF/config/applicationContext-impl.xml
            /WEB-INF/config/applicationContext-txbn.xml
            /WEB-INF/config/dream/quartz_config_dream.xml 
<!--             /WEB-INF/config/phos/quartz_config_phos.xml -->
<!--             /WEB-INF/config/maeil/quartz_config_maeil.xml -->
<!--             /WEB-INF/config/yonwoo/quartz_config_yonwoo.xml -->
        </param-value>
  </context-param>
  <filter>
    <filter-name>sitemesh</filter-name>
    <filter-class>common.filters.sitemesh.BasePageFilter</filter-class>
    <init-param>
      <param-name>debug.pagewriter</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <!-- <filter>
    <filter-name>SSOFilter</filter-name>
    <filter-class>enhance.daewoong.comm.ssofilter.SSOSampleFilter</filter-class>
  </filter> -->
  <filter-mapping>
    <filter-name>sitemesh</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
 <!--  <filter-mapping>
    <filter-name>SSOFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping> -->
  <security-constraint>
    <display-name>JSP Protection</display-name>
    <web-resource-collection>
      <web-resource-name>SecureJSPPages</web-resource-name>
      <url-pattern>*.jsp</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>nobody</role-name>
    </auth-constraint>
  </security-constraint>
  <security-role>
    <description>
Nobody should be in this role so JSP files are protected
from direct access.
</description>
    <role-name>nobody</role-name>
  </security-role>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Public</web-resource-name>
      <description>Matches a few special pages.</description>
      <url-pattern>/common/jsp/logoutPage.jsp</url-pattern>
      <url-pattern>/common/jsp/noAuthPage.jsp</url-pattern>
      <url-pattern>/common/jsp/excelDown.jsp</url-pattern>
      <url-pattern>/gaia/logoutPage.jsp</url-pattern>
      <url-pattern>/dream/consult/logoutPage.jsp</url-pattern>
      <url-pattern>/mobile/logoutPage.jsp</url-pattern>
    </web-resource-collection>
  </security-constraint>
  <error-page>
    <error-code>403</error-code>
    <location>/common/jsp/error404.jsp</location>
  </error-page>
  <filter>
    <filter-name>XSS</filter-name>
    <filter-class>common.filters.sitemesh.CrossScriptingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>XSS</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name></web-resource-name>
      <url-pattern>/*</url-pattern>
      <http-method>HEAD</http-method>
      <http-method>PUT</http-method>
      <http-method>DELETE</http-method>
      <http-method>TRACE</http-method>
      <http-method>OPTIONS</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name></role-name>
    </auth-constraint>
  </security-constraint>
  <listener>
    <listener-class>common.session.UserSessionListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>
            org.apache.struts.action.ActionServlet
        </servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/config/struts-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>2</param-value>
    </init-param>
    <init-param>
      <param-name>detail</param-name>
      <param-value>2</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ConfigLoaderServlet</servlet-name>
    <servlet-class>
            common.config.ConfigLoaderServlet
        </servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ConfigGaia</servlet-name>
    <servlet-class>
            common.config.ConfigGaia
        </servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ConfigEnhance</servlet-name>
    <servlet-class>
            common.config.ConfigConsult
        </servlet-class>
    <load-on-startup>3</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ExcelGenerator</servlet-name>
    <servlet-class>common.export.ExcelGenerator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcelGenerator</servlet-name>
    <url-pattern>/generate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>
        	common.file.DownloadServlet
        </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/Download</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GridExportServlet</servlet-name>
    <servlet-class>
        	common.grid.GridExportServlet
        </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GridExportServlet</servlet-name>
    <url-pattern>/gridExport</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CallUtilServlet</servlet-name>
    <servlet-class>
            common.util.CallUtilServlet
        </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CallUtilServlet</servlet-name>
    <url-pattern>/callMwareUtil</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.do</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/common/jsp/error404.jsp</location>
  </error-page>
  <jsp-config>
    <taglib>
      <taglib-uri>/WEB-INF/tld/c.tld</taglib-uri>
      <taglib-location>/WEB-INF/tld/c-rt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/WEB-INF/tld/c-rt.tld</taglib-uri>
      <taglib-location>/WEB-INF/tld/c-rt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/WEB-INF/tld/struts-bean.tld</taglib-uri>
      <taglib-location>/WEB-INF/tld/struts-bean.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/WEB-INF/tld/struts-html.tld</taglib-uri>
      <taglib-location>/WEB-INF/tld/struts-html.tld</taglib-location>
    </taglib>
  </jsp-config>
  <resource-ref>
    <description>Oracle Datasource</description>
    <res-ref-name>datasource</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
</web-app>